Source: hidindicator
Section: devel
Priority: optional
Maintainer: Chithambaram <zspcchinu@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4

Package: hidindicator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Notifies user about new HID attached to the computer
 A Notifier that informs the user about andy new HID attached to the computer,
 and displays the type of the new device in a ballon message
